.toggle-record-status-bar-item .glyph {
    -webkit-mask-position: -288px 0;
}

/* override .status-bar-item > .glyph rule */
button.pause-playback-status-bar-item > .glyph {
    -webkit-mask-image: url(Images/timelapseButtonGlyphs.png);
/* the play and pause buttons are too big in proportion to other icons. */
/* unscaled:    -webkit-mask-position: -160px -48px; */
    -webkit-mask-size: 288px;
    -webkit-mask-position: -141px -41px;
}

/* override .status-bar-item > .glyph rule */
button.play-playback-status-bar-item > .glyph {
    -webkit-mask-image: url(Images/timelapseButtonGlyphs.png);
/* the play and pause buttons are too big in proportion to other icons. */
/* unscaled:    -webkit-mask-position: -128px -48px; */
    -webkit-mask-size: 288px;
    -webkit-mask-position: -114px -41px;
}

button.replay-to-anchor-status-bar-item > .glyph {
    -webkit-mask-image: url(Images/timelapseButtonGlyphs.png);
}

button.set-anchor-status-bar-item > .glyph {
    -webkit-mask-image: url(Images/timelapseButtonGlyphs.png);
    -webkit-mask-position: 0 -24px;
}

.reset-playback-status-bar-item .glyph {
    -webkit-mask-position: 0 0;
}

/* override .status-bar-item > .glyph rule */
button.timelapse-locked-status-bar-item > .glyph {
    -webkit-mask-image: url(Images/timelapseButtonGlyphs.png);
/* the play and pause buttons are too big in proportion to other icons. */
/* unscaled:    -webkit-mask-position: -128px -48px; */
    -webkit-mask-size: 288px;
    -webkit-mask-position: -114px -41px;
}

button.breakpoint-radar-status-bar-item > .glyph {
    -webkit-mask-image: url(Images/timelapseButtonGlyphs.png);
    -webkit-mask-position: -32px -24px;
}

#timelapse-controller-view {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 210px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 11;
}

.timelapse-recording-message {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
    color: #666;
    cursor: pointer;
}

.timelapse-recording-message:hover {
    text-decoration: underline;
    color: #a04010;
}

.message-pulse {
    -webkit-animation-name: message-pulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

#timelapse-recording-view .timelapse-scrollview {
    position: absolute;
    height: 30px;
    left: 50px;
    right: 50px;
    top: 60px;
}

@-webkit-keyframes message-pulse {
    0%   { color: #444; }
    50%  { color: #888; }
    100% { color: #444; }
}

@-webkit-keyframes playback-pulse {
    0%   { opacity: 1; }
    50%  { opacity: 0.3; }
    100% { opacity: 1; }
}

@-webkit-keyframes breakpoint-blink {
    0%   { opacity: 1; }
    50%  { opacity: 0.8; }
    100% { opacity: 1; }
}

div.timelapse-timeline-labels {
    top: 25px;
    left: 5px;
    bottom: 0;
    position: absolute;
}

div.timelapse-timeline-label-wrapper {
    position: absolute;
    left: 0;
    width: 85px;
    height: 24px;
    margin: 3px 5px 2px 5px;
    border-radius: 5px;
    background-clip: border-box;
    -webkit-transition: all .4s ease-in;
}

div.timelapse-timeline-label:hover {
    opacity: 0.75;
}

div.timelapse-timeline-label {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 3px;
    background-image: url(Images/timelapseLabelBackground.png);
    background-repeat: repeat-x;
    background-position-y: -1px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.09);
    opacity: 0.85;
    -webkit-transition: opacity .2s linear;
    vertical-align: middle;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
}

div.timelapse-timeline-label-wrapper.disabled {
    opacity: 1;
    background-color: #aaa !important;
    color: #333 !important;
}

.timelapse-popover {
    position: absolute;
    z-index: 1000;
    background: #fff;
    border: 2px solid #999;
    pointer-events: none;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.timelapse-popover .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: auto;
    overflow: auto;
    -webkit-user-select: text;
}

.timelapse-popover .content.fixed-height {
    overflow: hidden;
}

.timelapse-popover,
.timelapse-overview-popover-table th:first-child {
    border-top-left-radius: 12px;
}

.timelapse-popover,
.timelapse-overview-popover-table th:last-child {
    border-top-right-radius: 12px;
}

.timelapse-popover,
.timelapse-overview-popover-table tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

.timelapse-popover,
.timelapse-overview-popover-table tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

.timelapse-popover .arrow {
    position: absolute;
    width: 19px;
    height: 19px;
    margin-left: -1px;
    margin-top: 0;
    top: -20px;
    background-image: url(Images/timelapsePopoverArrows.png);;
}

 .timelapse-overview-popover-table {
     border-collapse: collapse;
}

.timelapse-overview-popover-table th,
.timelapse-overview-popover-table td {
    text-align: center;
}

.timelapse-overview-popover-table tr {
    height: 29px;
}

.timelapse-overview-popover-table td {
    padding-top: 5px;
    padding-bottom: 3px;
}

.timelapse-overview-popover-table th:first-child,
.timelapse-overview-popover-table td:first-child {
    padding-left: 15px;
    padding-right: 10px;
}

.timelapse-overview-popover-table th:last-child {
    padding: 0 10px;
}

.timelapse-overview-popover-table td:last-child {
    padding-right: 15px;
}

.timelapse-overview-popover-table .text-cell {
    padding-left: 10px;
    text-align: left;
}

.timelapse-overview-popover-table th {
    font-size: larger;
    padding-top: 5px;
    padding-bottom: 5px;
}

.timelapse-overview-popover-table th:first-child {
    border-right: 1px solid #ddd;
}


.timelapse-overview-popover-table .row-with-count {
    border-top: 1px solid #ddd;
}

.timelapse-overview-popover-table .row-with-count td:first-child {
    background-color: #f5f5f5;
    border-right: 2px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.timelapse-overview-popover-table td:nth-child(2) {
    padding-left: 10px;
}

.timelapse-overview-popover-table tr.header-row {
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#d9d9d9));
    border-bottom: 1px solid #ccc;
}

.timelapse-overview-popover-table tr:last-child td:first-child {
    border-bottom: none;
}

.timelapse-overview-popover-table tr:hover:not(.header-row) {
    background-color: #f5f5f5;
}

.timelapse-overview-popover-table tr:hover:not(.header-row) td:first-child,
.timelapse-overview-popover-table tr:hover:not(.header-row) td:last-child {
    text-decoration: underline;
    cursor: pointer;
}

.timelapse-overview-popover-table tr.row-with-count:hover:not(.header-row) td:first-child {
    background-color: #e0e0e0;
}

.timelapse-overview-popover-table:not(.timelapse-category-breakpoint) tr.selected {
    background: rgba(255,0,0,0.1);
}

.timelapse-overview-popover-table.timelapse-category-breakpoint tr.selected {
    background: rgba(0,0,255,0.1);
    font-weight: bold;
}

.timelapse-overview-popover-table .selected .timelapse-breakpoint-link {
    font-weight: bold;
}

.timelapse-overview-popover-table .disabled .timelapse-breakpoint-link {
    font-style: italic;
}
